    <table class="table">
      <thead>
      <tr>
       <th>name</th>
       <th>update at</th>
       <th>owner</th>
       <th>repo</th>
       <th>count</th>
       <th>CI</th>
       <th>fmt</th>
      </tr>
      </thead>
    <tbody>
    {% for crate in crates %}
      <tr>
        <td><a href="/crates/{{crate.name}}">{{crate.name}}</a></td>
        <td>{{crate.updated_at}}</td>
      
        {% if crate.owner_gh_login == "" %}
          <td>NA</td>
        {% else %}
           {% if crate.owner_name == "" %}
              <td><a href="/users/{{crate.owner_gh_login | downcase }}">({{crate.owner_gh_login}})</a></td>
           {% else %}
              <td><a href="/users/{{crate.owner_gh_login | downcase }}">{{crate.owner_name}}</a></td>
           {% endif %}
        {% endif %}

        {% if crate.repository != "" %}
          <td><a href="{{crate.repository}}">repo</a></td>
        {% else %}
          <td><a href="/about-repository"><span class="tag is-danger is-light">NA</span></a></td>
        {% endif %}

        {% if crate.details.commit_count == 0 %}
          <td><a href="/about-repository#no-commit-count"><span class="tag is-danger is-light">NA</span></a></td>
        {% else %}
          <td>{{ crate.details.commit_count }}</td>
        {% endif %}
  
        {% if crate.details.has_github_action %}
           <td>GitHub Action</td>
        {% else %}
           <td><a href="/about-ci"><span class="tag is-danger is-light">NA</span></a></td>
        {% endif %}
        <td><a href="/about-fmt">fmt</a></td>
      </tr>
    {% endfor %}
    </tbody>
    </table>

