    <table class="table">
      <thead>
      <tr>
       <th>name</th>
       <th>update at</th>
       <th>owner</th>
       <th>repo</th>
       <th>count</th>
       <th>CI</th>
      </tr>
      </thead>
    <tbody>
    {% for crate in crates %}
      <tr>
        <td><a href="/crates/{{crate.name}}">{{crate.name}}</a></td>
        <td>{{crate.updated_at}}</td>
      
        {% if crate.owner_gh_login == "" %}
          <td>NA</td>
        {% else %}
          <td><a href="/users/{{crate.owner_gh_login | downcase }}">{{crate.owner_name}}</a></td>
        {% endif %}

        {% if crate.repository != "" %}
          <td><a href="{{crate.repository}}">repo</a></td>
        {% else %}
          <td>NA</td>
        {% endif %}

        {% if crate.details.commit_count == 0 %}
          <td>NA</td>
        {% else %}
          <td>{{ crate.details.commit_count }}</td>
        {% endif %}
  
        {% if crate.details.has_github_action %}
           <td>GitHub Action</td>
        {% else %}
           <td>NA</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
    </table>

