    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-home">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar-home" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">Home</a>
          <a href="/stats" class="navbar-item">Stats</a>
          <a href="/people" class="navbar-item">Owners</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Reports</a>

            <div class="navbar-dropdown">
              <a href="/vcs/" class="navbar-item">VCS</a>
              <a href="/rustfmt/" class="navbar-item">Rustfmt</a>
              <a href="/msrv" class="navbar-item">MSRV</a>
              <a href="/ci" class="navbar-item">CI systems</a>
              <a href="/homepages" class="navbar-item">Homepages</a>
            </div>
          </div>

          <a href="/errors" class="navbar-item">Errors</a>
          <a href="/news/" class="navbar-item">News</a>
          <a href="/training" class="navbar-item">Training</a>
          <a href="/support" class="navbar-item">Support</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
          
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">About</a>

            <div class="navbar-dropdown">
              <a href="/about" class="navbar-item">Rust Digger</a>
              <hr class="navbar-divider">
              <a href="/about-repository" class="navbar-item">repository</a>
              <a href="/about-ci" class="navbar-item">CI</a>
              <a href="/about-fmt" class="navbar-item">format</a>
              <a href="/about-cargo-toml" class="navbar-item">Cargo.toml</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </nav>
