{% assign title = "Rust Digger: 47,764 (32.92%) of the crates include a Cargo.lock file" %}
{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
  <h1 class="title is-3">{{title}}</h1>
  <div class="content">
    <p>
      Date: 2024.05.08
    </p>

    <h2>Should a crate include a Cargo.lock file?</h2>
    <p>
      I think the general idea is that executables should include Cargo.lock but libraries should not, but the goal here is to present the statistics collected by the Rust Digger
      as to what people actually do.
    </p>

      <table class="table">
        <thead>
        <tr>
         <th>name</th>
         <th>value</th>
         <th>percentage</th>
        </tr>
        </thead>
      <tbody>

        <tr>
          <td><a href="/all">Total</a></td>
          <td>145,087</td>
          <td>100%%</td>
        </tr>

        <tr>
          <td><a href="/crates-with-cargo-lock">Crates with Cargo.lock file</a></td>
          <td>47,764</td>
          <td>32.92%</td>
        </tr>
        
        <tr>
          <td><a href="/crates-with-cargo-lock-and-with-main-rs">Crates with Cargo.lock file and with src/main.rs file</a></td>
          <td>27,484</td>
          <td>18.94%</td>
        </tr>
        
        <tr>
          <td><a href="/crates-with-cargo-lock-but-without-main-rs">Crates with Cargo.lock file but without src/main.rs file</a></td>
          <td>20,280</td>
          <td>13.97%</td>
        </tr>
        
        <tr>
          <td><a href="/crates-without-cargo-lock">Crates without Cargo.lock file</a></td>
          <td>97,323</td>
          <td>67.07%</td>
        </tr>
        
        <tr>
          <td><a href="/crates-without-cargo-lock-with-main-rs">Crates without Cargo.lock but with src/main.rs file</a></td>
          <td>3,115</td>
          <td>2.14%</td>
        </tr>
        
        <tr>
          <td><a href="/crates-without-cargo-lock-without-main-rs">Crates without Cargo.lock and without src/main.rs file</a></td>
          <td>94,208</td>
          <td>64.93%</td>
        </tr>
      
      </tbody>
    </table>

    <p>
      This data is collected after downloading and unzipping the released crates from <a href="https://crates.io/">Crates.io</a>
      One serious caveat is that a crate does not need to have a <b>main.rs</b> file in order to be executable. One can also
      map files to be the binary of a crate using the <a href="https://doc.rust-lang.org/cargo/reference/cargo-targets.html#binaries">[[bin]]</a> field.
      The Rust-Digger does just that, but as of today it does not <a href="https://github.com/szabgab/rust-digger/issues/79">take this information in account</a>.
    </p>
    
    <p>
      The above is a snapshot of the data as we have today. The up-to-date data can be found on the <a href="/stats">Stats</a> pages.
    </p>
   
    <p>
      <h2>Sponsoring</h2>
      If you like the work that is being done on the Rust Digger project, please consider <a href="https://github.com/sponsors/szabgab/">financially supporting it</a>
      to at offset the incurred expenses.
    </p>

   </div>
  </div>
</section>

{% include 'templates/incl/footer.html' %}


