{% assign title = "News" %}
{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
  <h1 class="title is-3">{{title}}</h1>
  <div class="list">
     <li class="list-item">2024.03.27 <a href="/news/restarting">Restarting development of the Rust Digger: 20,000 new crates in 8 months</a></li>
     <li class="list-item">2023.07.22<a href="/news/first-report">First report: More than 80% of the crates link to their public VCS</a></li>
  </div>

  </div>
</section>

{% include 'templates/incl/footer.html' %}
