{% assign title = "News" %}
{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
  <h1 class="title is-3">{{title}}</h1>
  <div class="list">
    
    <li class="list-item">2024.05.01 <a href="/news/interesting-homepages">There are 4,907 interesting Crate homepages</a></li>
    <li class="list-item">2024.04.22 <a href="/news/biggest-crates-is-450-megabyte">Does size matter? The biggest crate is 450MB; More than 100 crates are over 50MB.</a></li>
    <li class="list-item">2024.04.16 <a href="/news/msrv-stats">7.53% of crates have both 'edition' and 'rust-version', 11.21% have neither</a></li>
    <li class="list-item">2024.04.03 <a href="/news/rustfmt-stats">Rust Digger: More than 14% of crates configure rustfmt. 35 Have both rustfmt.toml and .rustfmt.toml</a></li>
    <li class="list-item">2024.03.27 <a href="/news/restarting">Restarting development of the Rust Digger: 20,000 new crates in 8 months</a></li>
    <li class="list-item">2023.07.22 <a href="/news/first-report">First report: More than 80% of the crates link to their public VCS</a></li>
  </div>

  </div>
</section>

{% include 'templates/incl/footer.html' %}
