{% assign title = "Restarting development: 20,000 new crates in 8 months" %}
{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
  <h1 class="title is-3">{{title}}</h1>
  <div class="content">
    <p>
      Date: 2024.03.27
    </p>
    <p>
        I started to write the <b>Rust Digger</b> on Sat Jun 17 11:08:42 2023 +0300, I made the <a href="/news/first-report">first post</a> about it on 2023.07.22, that was more than 8 months ago.
        I made some progress with the site after the first report, but in the recent months I have not touched in and I never got to the second post.
        In that time I worked on a number of other <a href="https://szabgab.com/rust">Rust projects</a> and I posted a lot on the
        <a href="https://rust.code-maven.com/">Rust Maven</a> site. A month ago I started to record a <a href="https://he.code-maven.com/rust-course">Rust course in Hebrew</a>
        and recently even recorded a few videos abour Rust in English: <a href="https://www.youtube.com/watch?v=UqVgTafRCCU">Strings and memory reallocation in Rust</a> and
        <a href="https://rust.code-maven.com/extreme-clippy">Extreme Clippy for a new crate</a>.
    </p>
    <h2>Add Clippy lints</h2>
    <p>
        This last video brought me to add a lot more lints to the Rust Digger project and to start to clean up the code. I've recorded a video about that
        and I'll publish it soon. Follow <a href="https://www.youtube.com/channel/UCGsgaBYSAcia5op2Umer-9g">my YouTube channel</a> to get notified when I publish it.
    </p>
    <p>
    <h2>Number of crates</h2>
    There are now 140,209 crates almost 20,000 more than the 120,484 crates last July. So 20,000 new crates in 8 months.
    </p>
    <p>
     <h2>Repository</h2>
        The percentage of crates without <b>repository</b> field slightly went down from 20.06% to 19.36%, but 
        there are now 27,148 crates without the <b>repository</b> field compared to 24,173 8 months ago. That means a lot of the new crates 
        came without the <b>repository</b> entry. Some probably have it in the <b>homepage</b> field. That should be better incorporated in the report,
        but I think it would be better if these crates had the link to their repository in the <b>repository</b> field.
        </p>
    <p>
    <h2>VCS platforms</h2>

    75.57% of all the crates use GitHub as their repository, 2.55% use the hosted version of <a href="https://gitlab.com/">GitLab</a>. 
    There are many organizations and individual people who run their own git hosting service. The most popular ones are GitLab,
    <a href="https://forgejo.org/">Forgejo</a>, <a href="https://about.gitea.com/">Gitea</a>, <a href="https://git.zx2c4.com/cgit/">cgit</a>.

    There are now almost a 100 Version control hosts mapped in the Rust Digger project. Most of them also include the platform they use.
    We don't yet have statistics showing how popular are these platforms, but that should be a simple matter of adding the numbers together.
    

    There are also <a href="/vcs/other-repos">858 crates (0.61%) where we did not categorize the repository yet.
    Down from 1,821 crates due to the longer list of manually mapped hoss.
    </p>

    <h2>How can you help?</h2>
    <p>
        Many of the crates <a href="/vcs/other-repos">listed as having unrecognized VCS</a> has some incorrect URL as <b>repo</b>.
        Track down the real repo and send a Pull-Request to fix it or notify the author in some other polite way.
    </p>

  </div>
  </div>
</section>

{% include 'templates/incl/footer.html' %}
