{% assign title = "Restarting development of the Rust Digger: 20,000 new crates in 8 months" %}
{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
  <h1 class="title is-3">{{title}}</h1>
  <div class="content">
    <p>
      Date: 2024.03.27
    </p>
    <p>
        I started to write the <b>Rust Digger</b> on Sat Jun 17 11:08:42 2023 +0300, I made the <a href="/news/first-report">first post</a> about it on 2023.07.22, that was more than 8 months ago.
        I made some progress with the site after the first report, but in the recent months I have not touched in and I never got to the second post.
        In that time I worked on a number of other <a href="https://szabgab.com/rust">Rust projects</a> and I posted a lot on the
        <a href="https://rust.code-maven.com/">Rust Maven</a> site. A month ago I started to record a <a href="https://he.code-maven.com/rust-course">Rust course in Hebrew</a>
        and recently even recorded a few videos abour Rust in English: <a href="https://www.youtube.com/watch?v=UqVgTafRCCU">Strings and memory reallocation in Rust</a> and
        <a href="https://rust.code-maven.com/extreme-clippy">Extreme Clippy for a new crate</a>.
    </p>
    <h2>Add Clippy lints</h2>
    <p>
        This last video brought me to add a lot more lints to the Rust Digger project and to start to clean up the code. I've recorded a video about that
        and I'll publish it soon. Follow <a href="https://www.youtube.com/channel/UCGsgaBYSAcia5op2Umer-9g">my YouTube channel</a> to get notified when I publish it.
    </p>
    <p>
    <h2>Number of crates</h2>
    There are now 140,209 crates almost 20,000 more than the 120,484 crates last July. So 20,000 new crates in 8 months.
    </p>

    <p>
    <h2>Repository</h2>
        The percentage of crates without <b>repository</b> field slightly went down from 20.06% to 19.36%, but 
        there are now 27,148 crates without the <b>repository</b> field compared to 24,173 8 months ago. That means a lot of the new crates 
        came without the <b>repository</b> entry. Some probably have it in the <b>homepage</b> field. That should be better incorporated in the report,
        but I think it would be better if these crates had the link to their repository in the <b>repository</b> field.
    </p>
    <p>
        <h2>Real repository?</h2>
        One huge issue we still don't know if the <b>repository</b> field leads to the repository of the relevant crate.
        We need to <a href="https://github.com/szabgab/rust-digger/issues/51">Verify that the referred repository indeed contains the code of the crate</a>.
    </p>
    <p>
    <h2>VCS platforms</h2>
    75.57% of all the crates use GitHub as their repository, 2.55% use the hosted version of <a href="https://gitlab.com/">GitLab</a>. 
    There are many organizations and individual people who run their own git hosting service. The most popular ones are GitLab,
    <a href="https://forgejo.org/">Forgejo</a>, <a href="https://about.gitea.com/">Gitea</a>, <a href="https://git.zx2c4.com/cgit/">cgit</a>.

    There are now almost a 100 Version control hosts mapped in the Rust Digger project. Most of them also include the platform they use.
    We don't yet have statistics showing how popular are these platforms, but that should be a simple matter of adding the numbers together.

    There are also <a href="/vcs/other-repos">858 crates (0.61%) where we did not categorize the repository yet</a>.
    Down from 1,821 crates due to the longer list of manually mapped hoss.
    </p>

    <h2>Continuous Integration</h2>
    <p>
        There are 58,175 (41.3%) crates that are <a href="/github-but-no-ci">on GitHub but have no CI</a>. 
        There are also 1,840 (1.3%) crates that are <a href="/gitlab-but-no-ci">on GitLab but have no CI</a>.
    </p>

    <h2>How can you help?</h2>
    <ul>
    <li>
        Many of the crates <a href="/vcs/other-repos">listed as having unrecognized VCS</a> has some incorrect URL as <b>repo</b>.
        Track down the real repo and send a Pull-Request to fix it or notify the author in some other polite way.
        We still only show the 100 most recently released crates, but the most likely impact you'll have on crates that were released recently.
    </li>
    <li>
        My personal annoyance is that there are a few crates (306) where the <a href="/vcs/repo-with-http"><b>repository link uses http instead of https</b></a>
        and there are a few (232) <a href="/vcs/github-with-www"><b>crates that link to www.github.com instead github.com</b></a>.
        I know both redirect to the correct place, but if you are looking for an easy PR, fixing these would be that.
    </li>
    <li>
        The biggest issue with the repositories is of course that there are <a href="/no-homepage-no-repo">24,013 crates that have no repository and no homepage</a><div class=""></div>
        Finding the repo, adding the <b>repository</b> field will help the connectivity.
        A much easier thing to do is to visit the <a href="/has-homepage-but-no-repo">3,292 crates that have homepage but no repository</a>.
        In many cases it would be enough to copy the content of the <b>homepage</b> field to the <b>repository</b> field.
    </li>
    <li>
        The lack of Continuous Integration for at least 42.6% of the crates show that there is still a lot to do on that front.
        I bet many of those don't have any tests either. If you have time, check out one of those crates.
        on <a href="/github-but-no-ci">GitHub</a> or on <a href="/gitlab-but-no-ci">GitLab</a>.
        Add tests if they don't have yet and add CI configuration.
    </li>
    <li>
        Finally, you can help with the development of <a href="https://github.com/szabgab/rust-digger">Rust Digger</a> as well.
    </li>
    </ul>

    <h2>Rust Digger Stats from the <a href="/stats">stats page</a></h2>

    <table class="table">
      <thead>
      <tr>
       <th>name</th>
       <th>value</th>
       <th>percentage</th>
      </tr>
      </thead>
    <tbody>
      <tr>
          <td><a href="/all">total</a></td>
          <td>140,851</td>
          <td>100%</td>
      </tr>
      <tr>
          <td><a href="/has-homepage-but-no-repo">Has homepage but no repository</a></td>
          <td>3,292</td>
          <td>2.33%</td>
      </tr>
      <tr>
          <td><a href="/no-homepage-no-repo">No homepage and no repository</a></td>
          <td>24,013</td>
          <td>17.04%</td>
      </tr>
      <tr>
        <td><a href="/github-but-no-ci">On GitHub but no CI</a></td>
        <td>58,175</td>
        <td>41.3%</td>
      </tr>
      <tr>
        <td><a href="/gitlab-but-no-ci">On GitLab but no CI</a></td>
        <td>1,840</td>
        <td>1.3%</td>
      </tr>
     </tbody>
    </table>


    <h2>VCS hosts from the <a href="/vcs/">VCS page</a></h2>

    <table class="table">
      <thead>
      <tr>
       <th>name</th>
       <th>platform</th>
       <th>crates</th>
       <th>percentage</th>
      </tr>
      </thead>
    <tbody>
    
      <tr>
        
           <td><a href="/vcs/github">GitHub</a></td>
        
        <td> GitHub </td>
        <td>106,415</td>
        <td>75.55%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/no-repo"><b>Has no repository</b></a></td>
        
        <td> Unknown </td>
        <td>27,305</td>
        <td>19.38%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/gitlab">GitLab</a></td>
        
        <td> GitLab </td>
        <td>3,601</td>
        <td>2.55%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/other-repos"><b>Other repositories we don't recognize</b></a></td>
        
        <td> Unknown </td>
        <td>864</td>
        <td>0.61%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/codeberg">Codeberg</a></td>
        
        <td> Unknown </td>
        <td>464</td>
        <td>0.32%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/srht">srht</a></td>
        
        <td> Unknown </td>
        <td>410</td>
        <td>0.29%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/repo-with-http"><b>Repo with http</b></a></td>
        
        <td> Unknown </td>
        <td>306</td>
        <td>0.21%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/github-with-www"><b>GitHub with www</b></a></td>
        
        <td> Unknown </td>
        <td>233</td>
        <td>0.16%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/gitee">Gitee</a></td>
        
        <td> Unknown </td>
        <td>166</td>
        <td>0.11%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/freedesktop">Free Desktop</a></td>
        
        <td> GitLab </td>
        <td>130</td>
        <td>0.09%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/bitbucket">Bitbucket</a></td>
        
        <td> Unknown </td>
        <td>119</td>
        <td>0.08%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/gnome">Gnome</a></td>
        
        <td> GitLab </td>
        <td>75</td>
        <td>0.05%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/asonix">Asonix</a></td>
        
        <td> Forgejo </td>
        <td>70</td>
        <td>0.04%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/torproject">Tor Project</a></td>
        
        <td> GitLab </td>
        <td>62</td>
        <td>0.04%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/redox-os">Redox OS</a></td>
        
        <td> GitLab </td>
        <td>51</td>
        <td>0.03%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/pijul_com">pijul.com</a></td>
        
        <td> Unknown </td>
        <td>48</td>
        <td>0.03%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/qrnch_tech">Qrnch tech</a></td>
        
        <td> Unknown </td>
        <td>36</td>
        <td>0.02%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/sourcehut">sourcehut</a></td>
        
        <td> Unknown </td>
        <td>35</td>
        <td>0.02%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/debian">Debian</a></td>
        
        <td> GitLab </td>
        <td>28</td>
        <td>0.01%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/framagit.org">framagit.org</a></td>
        
        <td> GitLab </td>
        <td>23</td>
        <td>0.01%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/deuxfleurs">deuxfleurs</a></td>
        
        <td> Forgejo </td>
        <td>19</td>
        <td>0.01%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/cronce">Cronce</a></td>
        
        <td> GitLab </td>
        <td>19</td>
        <td>0.01%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/hatter">hatter</a></td>
        
        <td> Gitea </td>
        <td>15</td>
        <td>0.01%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/moparisthebest">moparisthebest</a></td>
        
        <td> Gitea </td>
        <td>13</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/e3t">e3t</a></td>
        
        <td> Unknown </td>
        <td>13</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/wikimedia">Wikimedia</a></td>
        
        <td> GitLab </td>
        <td>12</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/pipapo">pipapo</a></td>
        
        <td> Gitea </td>
        <td>12</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/uni-stuttgart">University Stuttgart</a></td>
        
        <td> Gitea </td>
        <td>11</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/openlogisticsfoundation">Open Logistics Foundation</a></td>
        
        <td> GitLab </td>
        <td>11</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/opencode">Open CoDE</a></td>
        
        <td> GitLab </td>
        <td>11</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/cscherr">cscherr</a></td>
        
        <td> Forgejo </td>
        <td>11</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/scd31">scd31</a></td>
        
        <td> GitLab </td>
        <td>10</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/picodata">picodata</a></td>
        
        <td> GitLab </td>
        <td>10</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/kitware">kitware</a></td>
        
        <td> GitLab </td>
        <td>10</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/bauke">bauke</a></td>
        
        <td> Forgejo </td>
        <td>10</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/philomathiclife">Philomathic Life</a></td>
        
        <td> Unknown </td>
        <td>9</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/gitgud">gitgud</a></td>
        
        <td> GitLab </td>
        <td>9</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/mozilla">mozilla</a></td>
        
        <td> Mercurial </td>
        <td>8</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/lcr">LCR Code</a></td>
        
        <td> GitLab </td>
        <td>8</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/fem.mint.lgbt">fem.mint.lgbt</a></td>
        
        <td> Forgejo </td>
        <td>7</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/computer.surgery">computer.surgery</a></td>
        
        <td> GitLab </td>
        <td>7</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/communiquons">communiquons</a></td>
        
        <td> Gitea </td>
        <td>7</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/chiselapp">chiselapp</a></td>
        
        <td> Fossil </td>
        <td>7</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/alienscience">alienscience</a></td>
        
        <td> Forgejo </td>
        <td>7</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/4neko">4neko</a></td>
        
        <td> Gitea </td>
        <td>7</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/themackabu">themackabu</a></td>
        
        <td> GitLab </td>
        <td>6</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/kernel">Kernel</a></td>
        
        <td> Cgit </td>
        <td>6</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/colean">colean</a></td>
        
        <td> Forgejo </td>
        <td>6</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/batsense.net">batsense.net</a></td>
        
        <td> Forgejo </td>
        <td>6</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/3lp.cx">3lp.cx</a></td>
        
        <td> Gitea </td>
        <td>6</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/vdx-hu">vdx.hu</a></td>
        
        <td> Forgejo </td>
        <td>5</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/syndicate-lang">Syndicate-lang</a></td>
        
        <td> Forgejo </td>
        <td>5</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/openprivacy">Open Privacy</a></td>
        
        <td> Gitea </td>
        <td>5</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/notabug">notabug</a></td>
        
        <td> Unknown </td>
        <td>5</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/ngni.us">ngni.us</a></td>
        
        <td> Forgejo </td>
        <td>5</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/softwareheritage">Software Heritage</a></td>
        
        <td> GitLab </td>
        <td>4</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/mentality">mentality</a></td>
        
        <td> Gitea </td>
        <td>4</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/lightsout">Lightsout Games</a></td>
        
        <td> Gitea </td>
        <td>4</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/jekel.ca">jekel.ca</a></td>
        
        <td> Gitea </td>
        <td>4</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/cern">CERN</a></td>
        
        <td> GitLab </td>
        <td>4</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/vwolfe">vwolfe</a></td>
        
        <td> Forgejo </td>
        <td>3</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/skreutz">skreutz</a></td>
        
        <td> Cgit </td>
        <td>3</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/orbitsolutions">orbitsolutions</a></td>
        
        <td> Gitea </td>
        <td>3</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/midefos">Midefos</a></td>
        
        <td> Gitea </td>
        <td>3</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/in2p3">in2p3.fr</a></td>
        
        <td> GitLab </td>
        <td>3</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/geomar">geomar</a></td>
        
        <td> GitLab </td>
        <td>3</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/flying-kestrel">flying-kestrel</a></td>
        
        <td> Unknown </td>
        <td>3</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/fizz_buzz">fizz.buzz</a></td>
        
        <td> Gitea </td>
        <td>3</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/vanten-s.com">vanten-s.com</a></td>
        
        <td> Forgejo </td>
        <td>2</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/sourceforge">sourceforge</a></td>
        
        <td> Unknown </td>
        <td>2</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/rtng">rtng</a></td>
        
        <td> Gitea </td>
        <td>2</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/pijul_org">pijul.org</a></td>
        
        <td> Unknown </td>
        <td>2</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/lemonsh">lemonsh</a></td>
        
        <td> Forgejo </td>
        <td>2</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/jeffa">Jeffa</a></td>
        
        <td> Gitea </td>
        <td>2</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/envs">envs</a></td>
        
        <td> Gitea </td>
        <td>2</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/duguying">duguying</a></td>
        
        <td> Gitea </td>
        <td>2</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/dubzland">Dubzland</a></td>
        
        <td> GitLab </td>
        <td>2</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/cyplo.dev">cyplo.dev</a></td>
        
        <td> Forgejo </td>
        <td>2</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/based.computer">based.computer</a></td>
        
        <td> Forgejo </td>
        <td>2</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/arielaw.ar">arielaw.ar</a></td>
        
        <td> Forgejo </td>
        <td>2</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/archlinux">archlinux</a></td>
        
        <td> GitLab </td>
        <td>2</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/apple_bear">Apple Bear</a></td>
        
        <td> Gitea </td>
        <td>2</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/whoisthisjoker">whoisthisjoker</a></td>
        
        <td> Gitea </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/txmn">txmn</a></td>
        
        <td> Forgejo </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/tozt">tozt</a></td>
        
        <td> Cgit </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/simaek">simaek</a></td>
        
        <td> Gitea </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/sergeych.net">sergeych.net</a></td>
        
        <td> Gitea </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/reclaimprotocol">reclaimprotocol</a></td>
        
        <td> GitLab </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/radial">radial</a></td>
        
        <td> Forgejo </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/panter">panter</a></td>
        
        <td> GitLab </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/onders.org">onders.org</a></td>
        
        <td> Forgejo </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/latte">latte</a></td>
        
        <td> Gitea </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/jesterpm">jesterpm</a></td>
        
        <td> Cgit </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/hrzn">hrzn</a></td>
        
        <td> Forgejo </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/hedwing.dev">hedwing.dev</a></td>
        
        <td> Gitea </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/git.gay">git.gay</a></td>
        
        <td> Forgejo </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/flueren.eu">flueren.eu</a></td>
        
        <td> Gitea </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/disroot">Disroot</a></td>
        
        <td> Forgejo </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/buny.computer">buny.computer</a></td>
        
        <td> Forgejo </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/bitcoin_ninja">Bitcoin Ninja</a></td>
        
        <td> Unknown </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/ascee.nl">ascee.nl</a></td>
        
        <td> Gitea </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/aikuro.net">aikuro.net</a></td>
        
        <td> Gitea </td>
        <td>1</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/meli-email.org">meli-email.org</a></td>
        
        <td> Gitea </td>
        <td>0</td>
        <td>0%</td>
      </tr>
    
      <tr>
        
           <td><a href="/vcs/dragonma">dragonma</a></td>
        
        <td> Cgit </td>
        <td>0</td>
        <td>0%</td>
      </tr>
    
    </tbody>
    </table>


   </div>
  </div>
</section>

{% include 'templates/incl/footer.html' %}
