{% assign title = "Skeleton" %}
{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
  <h1 class="title is-3">{{title}}</h1>
  <div class="content">
    <p>
      Date: 2024.05.08
    </p>

    <h2>Title</h2>
    

    <p>
      <h2>Sponsoring</h2>
      If you like the work that is being done on the Rust Digger project, please consider <a href="https://github.com/sponsors/szabgab/">financially supporting it</a>
      to at offset the incurred expenses.
  </p>



    <p>
On 2024.05.05 I checked:

Has homepage but no repository 3,343
No homepage and no repository  24,557
Has both rustfmt.toml and .rustfmt.toml 37
Has errors in the released Cargo.toml file 99

    </p>


   </div>
  </div>
</section>

{% include 'templates/incl/footer.html' %}


