{{#*inline "page"}}
      <h1 class="title">About Rust Digger</h1>

We are collecting data about Rust Crates. Similar to the <a href="https://pydigger.com/">PyDigger</a> project collecting data about Python packages
and the <a href="https://cpan-digger.perlmaven.com/">CPAN Digger</a> project collecting about Perl packages.

There are a number of goals:

<div class="list">
    <li class="list-item">Understand the common practices in Rust projects.</li>
    <li class="list-item">Find low-hanging fruits for contribution.</li>
</div>

<h2 class="subtitle">Topics</h2>

Some of the items:

<div class="list">
    <li class="list-item">Having a link to the public VCS of each crate will make it easier contribute to the project.
    So we would like to encourage everyone to have a link to the public VCS of the crate in the <b>repository</b> field</li>
    <li class="list-item">Having Continuous integration enabled will provide fast feedback to the developers and to the contributors. (TODO)</li>
    <li class="list-item">A low test coverage indicates that the project is not well tested. We would like to encourage adding more tests.</li>
</div>


<h2 class="subtitle">Status</h2>

There are already some pages that work, but there are a lot of <a href="https://github.com/szabgab/rust-digger/issues">open issues</a> and there are probably a lot more tasks that don't have an issue yet.

This is the first project written by the author in Rust and thus the code is very far from being "good Rust code". Your suggestions and contributions are welcome.

Right now in each listing we show the 100 most recently uploaded crates from the given list.
We believe that contributing to a recently uploaded crate will more likely get a response than a crate that has not been touched for a long time.
With that said we plan to create pagination to make it easier to go over all the crates.


{{/inline}}
{{> (lookup this "parent")}}
