{{#*inline "page"}}
      <h1>About Rust Digger</h1>

We are collecting data about Rust Crates. Similar to the <a href="https://pydigger.com/">PyDigger</a> project collecting data about Python packages
and the <a href="https://cpan-digger.perlmaven.com/">CPAN Digger</a> project collecting about Perl packages.

There are a number of goals:

<ul>
    <li>Understand the common practices in Rust projects</li>
    <li>Find low-hanging fruits for contribution</li>
</ul>
{{/inline}}
{{> (lookup this "parent")}}
