{% include 'templates/incl/header.html' %}


<section class="section">
  <div class="container">
    <h1 class="title">{{title}}</h1>
    <p>
      {% case filename %}
        {% when "all" %}
          Listing all the crates starting from the most recently released ones.

        {% when "has-homepage-but-no-repo" %}
          Some crates have a <b>homepage</b> field in their <b>Cargo.toml</b> file, but no <b>repository</b> field.
          It would be probably better if all the crates had their repository listed in the <b>repository</b> field, but
          it is probably even more important that the crates the have
          <a href="/no-homepage-no-repo">neither homepage nor repository field</a> would get the <b>repository</b> field.
          You can find <a href="/about-repository">further explanation</a>.

        {% when "no-homepage-no-repo" %}
          List of crates that don't have a "repository" field in their Cargo.toml file and not even a "homepage" field that might help locating the repository.
          In order to make it easier for user of a crate to find the public VCS (Version Control System) of the crate, it is recommended that each crate
          will include the <b>repository</b> filed in the Cargo.toml file.

          You can find <a href="/about-repository">further explanation</a> and how you might help fixing this.

        {% when "crates-without-owner" %}
          This list is really strange. It is totally unclear how could that happen that some crates are without an owner. Is this a bug in Rust Digger?
          Is this a bug in Crates.io? This needs to be investigated further.
    
        {% when "crates-without-owner-name" %}
          If I am not mistaken <a href="https://crates.io/">Crates.io</a> takes the name of a person (or organization) from the GitHub account that was used to log in to Crates.io.
          This means that if the name is missing here then it is missing in GitHub as well.
          I don't know if is an issue copyright and license-wise.

        {% when "github-but-no-ci" %}
          Having some cloud-based <b>Continuous Integration (CI)</b> system configured is an excellent way to get quick feedback on changes one makes to the code both for
          maintainers of a crate and for people who might want to send a pull-request. Therefore for crates that we already have the repository link we are checking
          if they have any Continuous Integration system configured.

          For projects hosted in <b>GitHub</b> we are checking if they have <b>GitHub Actions</b> configured. At this point we only check the existence of at least one configuration file.

          Get <a href="/about-ci">more explanation</a> and some instructions on how to add GitHub Actions to a crate.

        {% when "gitlab-but-no-ci" %}

          Having some cloud-based <b>Continuous Integration (CI)</b> system configured is an excellent way to get quick feedback on changes one makes to the code both for
          maintainers of a crate and for people who might want to send a pull-request. Therefore for crates that we already have the repository link we are checking
          if they have any Continuous Integration system configured.

          For projects hosted in <b>GitLab</b> we are checking if they have <b>GitLab pipeline</b> configured. At this point we only check the existence of a file called <b>.gitlab-ci.yml</b>.

          Get <a href="/about-ci">more explanation</a> and some instructions on how to add GitHub Actions to a crate.

        {% when "has-no-cargo-toml-in-root" %}
          The crates listed here link to a repository where we could not find a <b>Cargo.toml</b> file in the root of the repository.

          Right now we still list crates where we do NOT have access to the repository itself. These should be removed.

          We also list crates where we did not even attempt to clone the repository.

          There also seem to be a few crates listed with a proper link to a GitHub repo that has a Cargo.toml and we still have them here.
          This needs to be investigated.

        {% when "vcs/no-repo" %}
          The list of all the crates that have no "repository" entry in their Cargo.toml file. Some of them might have a link to their repository
          in some other field (e.g. the <a href="/has-homepage-but-no-repo">homepage field</a>) other have no such link
          <a href="/no-homepage-no-repo">neither in the homepage nor the repository field</a>.
          You can find <a href="/about-repository">further explanation</a> and a way to fix this.
      
        {% when "vcs/repo-with-http" %}
          Both GitHub and GitLab will respond to a requests sent via <b>http</b> and will redirect the request to the <b>https</b> counterpart of the same page.
          There is no real value in having a URL using <b>http</b> to be listed as the <b>repository</b> field in the <b>Cargo.toml</b> file.

          This list shows the crates that have the <b>http</b> link.

          You can find <a href="/about-repository">further explanation</a> and instructions how to fix this issue.

        {% when "vcs/github-with-www" %}
          For some reason some crates link to <b>www.github.com</b> with the <b>www</b> prefix, despite GitHub redirecting those URLs to the address at <b>github.com</b> (without www).
          This is the list of the crates that have the <b>www</b> prefix.

          This is not really a big issue, it is just a bit unnecessary.

          You can find <a href="/about-repository">further explanation</a> and instructions how to fix this issue.

    {% endcase %}
  
    </p>
    <p>
      <b>Total:  {{total}}</b>
    </p>
    
    {% include 'templates/incl/list_crates.html' %}

  </div>
</section>

{% include 'templates/incl/footer.html' %}
