{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
    <h1 class="title">{{title}}</h1>

    <table class="table">
      <tbody>
        <tr><td>Crates.io</td><td><a href="https://crates.io/crates/{{crate.name}}">{{ crate.name }}</a></td></tr>
        <tr><td>lib.rs</td><td><a href="https://lib.rs/crates/{{crate.name}}">{{ crate.name }}</a></td></tr>
        {% if crate.cargo %}
            <tr><td>version</td><td>{{ crate.cargo.package.version }}</td></tr>
            <!-- <tr><td>source</td><td><a href="/src/{{ crate.cargo.package.name }}-{{ crate.cargo.package.version }}/">src</a></td></tr> -->
        {% endif %}
        <tr><td>created_at</td><td>{{ crate.created_at }}</td></tr>
        <tr><td>updated_at</td><td>{{ crate.updated_at }}</td></tr>
        <tr><td>description</td><td>{{ crate.description }}</td></tr>
        {% if crate.homepage %}
          <tr><td>homepage</td><td><a href="{{ crate.homepage }}">{{ crate.homepage }}</a></td></tr>
        {% else %}
           <td>NA</td>
        {% endif %}
        {% if crate.repository %}
            <tr><td>repository</td><td><a href="{{ crate.repository }}">{{ crate.repository }}</a></td></tr>
        {% else %}
           <td>NA</td>
        {% endif %}
        <tr><td>max_upload_size</td><td>{{ crate.max_upload_size }}</td></tr>
        <tr><td>id</td><td>{{ crate.id }}</td></tr>
        {% if cargo_toml_error != "" %}
            <tr><td>Cargo.toml error:</td><td><span class="tag is-danger is-light">{{ cargo_toml_error }}</span></td></tr>
        {% endif %}
        <tr><td>size</td><td>{% if crate.crate_details %}{{ crate.crate_details.size | commafy }}{% else %}NA{% endif %}</td></tr>
      </tbody>
    </table>

    {% if crate.owner_gh_avatar %}
       <img src="{{crate.owner_gh_avatar}}">
    {% endif %}
    {% if crate.owner_gh_login %}
        <a href="/users/{{crate.owner_gh_login | downcase}}">{% if crate.owner_name %}{{crate.owner_name}}{% endif %} ({{crate.owner_gh_login}})</a>
    {% endif %}

    <h2 class="title is-4">documentation</h2>
    <div>
    {{crate.documentation}}
    </div>

    <h2 class="title is-4">README</h2>
    <div>
    {{readme}}
    </div>

    {% if crate.vcs_details %}
      Commit count: {{ crate.vcs_details.commit_count }}

      <h2 class="title is-4">cargo fmt</h2>
      <div>
      {{crate.vcs_details.cargo_fmt}}
      </div>
    {% else %}
      No VCS clone available.
    {% endif %}

  </div>
</section>

{% include 'templates/incl/footer.html' %}
