{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
    <h1 class="title is-3">VCS hosts</h1>

    <table class="table">
      <thead>
      <tr>
       <th>name</th>
       <th>platform</th>
       <th>crates</th>
      </tr>
      </thead>
    <tbody>
    {% for repo in repos %}
      <tr>
        {% if repo.bold %}
           <td><a href="/vcs/{{repo.name | downcase}}"><b>{{repo.display}}</b></a></td>
        {% else %}
           <td><a href="/vcs/{{repo.name | downcase}}">{{repo.display}}</a></td>
        {% endif %}
        <td>{% if repo.platform %} {{repo.platform}} {% else %} Unknown {% endif %}</td>
        <td>{{repo.count | commafy}}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
</section>

{% include 'templates/incl/footer.html' %}
