{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
    <h1 class="title">Rustfmt Stats</h1>

    <p>
        There are two tables on this page. A list of <a href="#config-option">Config option used</a> and a list of <a href="#config-options-with-values">config option with values</a>
    </p>
    <p>
        Number of crates with rustfmt.toml or .rustfmt.toml: <b>{{ with_rustfmt | commafy }}</b> out of <b>{{ number_of_crates | commafy }}</b> crates
    </p>
    

    <h2 id="config-options" class="title">Config option used</h2>
    <table class="table">
      <thead>
      <tr>
       <th>name</th>
       <th>count</th>
      </tr>
      </thead>
    <tbody>
    {% for pair in count_by_key %}
      <tr>
          <td><a href="/rustfmt/{{ pair[0] }}">{{ pair[0] }}</a></td>
          <td>{{ pair[1] | commafy }}</td>
      </tr>
    {% endfor %}
     </tbody>
    </table>

    <h2 id="config-options-with-values" class="title">Config option and values used</h2>
    <table class="table">
      <thead>
      <tr>
       <th>name</th>
       <th>value</th>
       <th>count</th>
      </tr>
      </thead>
    <tbody>
    {% for pair in count_by_pair %}
      <tr>
          <td>{{ pair[0] }}</td>
          <td><a href="/rustfmt/{{ pair[0] }}_{{ pair[1] }}">{{ pair[1] }}</a></td>
          <td>{{ pair[2] }}</td>
      </tr>
    {% endfor %}
     </tbody>
    </table>


</div>
</section>

{% include 'templates/incl/footer.html' %}
