{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
    <h1 class="title">Rust Digger Stats</h1>

    <table class="table">
      <thead>
      <tr>
       <th>name</th>
       <th>value</th>
       <th>percentage</th>
      </tr>
      </thead>
    <tbody>
      <tr>
          <td><a href="/">total</a></td>
          <td>{{total}}</td>
          <td>100%</td>
      </tr>
      {% for repo in repos %}
        <tr>
            <td>{{repo.display}}</td>
            <td>{{repo.count}}</td>
            <td>{{repo.percentage}}%</td>
        </tr>
      {% endfor %}
      <tr>
          <td><a href="/has-homepage-but-no-repo">Has homepage but no repository</a></td>
          <td>{{home_page_but_no_repo}}</td>
          <td>{{home_page_but_no_repo_percentage}}%</td>
      </tr>
      <tr>
          <td><a href="/no-homepage-no-repo">No homepage and no repository</a></td>
          <td>{{no_homepage_no_repo_crates}}</td>
          <td>{{no_homepage_no_repo_crates_percentage}}%</td>
      </tr>

     </tbody>
    </table>
  </div>
</section>

{% include 'templates/incl/footer.html' %}
