{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
    <h1 class="title">Rust Digger Stats</h1>

    <table class="table">
      <thead>
      <tr>
       <th>name</th>
       <th>value</th>
       <th>percentage</th>
      </tr>
      </thead>
    <tbody>
      <tr>
          <td><a href="/all">total</a></td>
          <td>{{total | commafy}}</td>
          <td>100%</td>
      </tr>
      <tr>
        <td><a href="/vcs/no-repo">No repository</a></td>
        <td>{{stats.no_repo | commafy}}</td>
        <td>{{percentage.no_repo}}%</td>
      </tr>
      <tr>
          <td><a href="/has-homepage-but-no-repo">Has homepage but no repository</a></td>
          <td>{{stats.home_page_but_no_repo | commafy}}</td>
          <td>{{percentage.home_page_but_no_repo}}%</td>
      </tr>
      <tr>
          <td><a href="/no-homepage-no-repo">No homepage and no repository</a></td>
          <td>{{stats.no_homepage_no_repo_crates | commafy}}</td>
          <td>{{percentage.no_homepage_no_repo_crates}}%</td>
      </tr>
      <tr>
        <td><a href="/github-but-no-ci">On GitHub but no CI</a></td>
        <td>{{stats.github_but_no_ci | commafy}}</td>
        <td>{{percentage.github_but_no_ci}}%</td>
      </tr>
      <tr>
        <td><a href="/gitlab-but-no-ci">On GitLab but no CI</a></td>
        <td>{{stats.gitlab_but_no_ci | commafy}}</td>
        <td>{{percentage.gitlab_but_no_ci}}%</td>
      </tr>
      <tr>
        <td><a href="/crates-without-owner-name">Crates without owner name</a></td>
        <td>{{stats.crates_without_owner_name | commafy}}</td>
        <td>{{percentage.crates_without_owner_name}}%</td>
      </tr>
      <tr>
        <td><a href="/crates-without-owner">Crates without owner</a></td>
        <td>{{stats.crates_without_owner | commafy}}</td>
        <td>{{percentage.crates_without_owner}}%</td>
      </tr>
     </tbody>
    </table>
  </div>
</section>

{% include 'templates/incl/footer.html' %}
