{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
    <h1 class="title is-3">Supporting the Rust Digger</h1>
    I love working on this and other open source projects, but I also have to put some food on the table. To make sure I can keep working on these project I need your help.
    There are two major ways to help me. One is to provide a monthly sponsorship the other is to invite me to your work to provide <a href="/training">training</a>.
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title is-4">Monthly sponsorship</h2>
    Monthly sponsorship can be done via <a href="https://github.com/sponsors/szabgab/">GitHub Sponsors</a>. Set up a recurring $10/month sponsorship.
    Each person who does this helps me allocate more time and resources to the this and other open source projects.
  </div>
</section>


{% include 'templates/incl/footer.html' %}
