{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
    <h1 class="title is-3">Supporting the Rust Digger</h1>
    I love working on this and other open source projects, but I also have to put some food on the table. To make sure I can keep working on these project I need your help.
    There are two major ways to help me. One is to provide a monthly sponsorship the other is to invite me to your work to provide training.
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title is-4">Monthly sponsorship</h2>
    Monthly sponsorship can be done via <a href="https://github.com/sponsors/szabgab/">GitHub Sponsors</a>. Set up a recurring $10/month sponsorship.
    Each person who does this helps me allocate more time and resources to the this and other open source projects.
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title is-4">Courses</h2>
    I am <a href="https://szabgab.com/">teaching various courses</a> at corporations and other organizations. If you feel that one of these courses can improve the
    efficiency of your team or that it can teach tool and techniques that are needed in your organization then help me get invited to provide such training.
    Talk to me about the courses that might be relevant to you.
    Then ask your team leader or the person who organizes training courses at your company to invite me for the course we discussed.
  </div>
</section>


{% include 'templates/incl/footer.html' %}
