{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
    <h2 class="title is-4">Training Courses</h2>
    Hi, I am the developer and maintainer of the Rust Digger application and web site.
    My name is <a href="https://szabgab.com/">Gábor Szabó</a> and I help people to develop software faster and with less bugs
    by providing various traiing courses at corporations and other organizations.
    <p>
    If you feel that one of <a href="https://szabgab.com/">the courses</a> could improve the
    efficiency of your team or that it can teach tools and techniques that are needed in your organization then get in touch with
    me so we can discuss the details.
    <p>
    Talk to me about the courses that might be relevant to you.
    Then ask your team leader or the person who organizes training courses at your company to invite me for the course we discussed.
  </div>
</section>


{% include 'templates/incl/footer.html' %}
