{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
    <h1 class="title">{{title}}</h1>

    <img src={{user.gh_avatar}}>
    <table class="table">
      <tbody>
        <tr><td>name</td><td>{% if user.name == "" %}<span class="tag is-danger is-light">Missing</span>{% else %}{{ user.name }}{% endif %}</a></td></tr>
        <tr><td>Crates.io:</td><td><a href="https://crates.io/users/{{user.gh_login}}">{{ user.gh_login }}</a></td></tr>
        <tr><td>GitHub user:</td><td><a href="https://github.com/{{user.gh_login}}">{{user.gh_login}}</a></td></tr>
      </tbody>
    </table>

    {% include 'templates/incl/list_crate_errors.html' %}

    <h2 class="title">Crates</h2>
    {% include 'templates/incl/list_crates.html' %}

  </div>
</section>

{% include 'templates/incl/footer.html' %}
