{% include 'templates/incl/header.html' %}

<section class="section">
  <div class="container">
    <h1 class="title">{{title}}</h1>

    <img src={{user.gh_avatar}}>
    <table class="table">
      <tbody>
        <tr><td>name</td><td><a href="https://crates.io/users/{{user.gh_login}}">{{ user.name }}</a></td></tr>
      </tbody>
    </table>

    <h2 class="title is-5">Crates</h2>
    {% for crate in rows %}
<div>
        <a href="/crates/{{crate.name}}">{{crate.name}}</a> {{crate.repository}}
</div>
    {% endfor %}

  </div>
</section>

{% include 'templates/incl/footer.html' %}
