{{#*inline "page"}}
<section class="section">
  <div class="container">
    <h1 class="title">{{title}}</h1>

    <img src={{user.gh_avatar}}>
    <table class="table">
      <tbody>
        <tr><td>name</td><td><a href="https://crates.io/users/{{user.gh_login}}">{{ user.name }}</a></td></tr>
      </tbody>
    </table>

    <h2 class="title is-5">Crates</h2>
    {{#each crates as |crate|}}
<div>
        <a href="/crates/{{crate.name}}">{{crate.name}}</a> {{crate.repository}}
</div>
    {{/each}}

  </div>
</section>

{{/inline}}
{{> (lookup this "parent")}}
