name: CI

on:
    push:
    pull_request:
    workflow_dispatch:
#    schedule:
#        - cron: '0 * * * *'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true


jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

#      - name: Setup Pages
#        uses: actions/configure-pages@v2

      - name: Compile application
        if: ${{ github.event_name != 'pull_request' }}
        run: |
            rustc --version
            cargo --version
            cargo build
            cargo test

      - name: Run cargo fmt --check
        run: cargo fmt --check

      - name: Run clippy
        run: cargo clippy -- --deny warnings

      - name: Download data
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          ./download.sh

      - name: Create pages
        if: ${{ github.event_name != 'pull_request' }}
        run: |
            cargo run --bin rust-digger-html

#      - name: Show results
#        if: ${{ github.event_name != 'pull_request' }}
#        run: |
#            tree _site
#
#
#      - name: Upload artifact
#        if: github.ref == 'refs/heads/main'
#        uses: actions/upload-pages-artifact@v1

  # Deployment job
#  deploy:
#    if: github.ref == 'refs/heads/main'
#    environment:
#      name: github-pages
#      url: ${{ steps.deployment.outputs.page_url }}
#    runs-on: ubuntu-latest
#    needs: generate
#    steps:
#      - name: Deploy to GitHub Pages
#        id: deployment
#        uses: actions/deploy-pages@v1

